  {% set lastletter = FALSE %}
  {% if user.firstname|last == 's' %}
    {% set lastletter = TRUE %}
  {% endif %}

   <section id="portfolio" class="bg-darkest-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% if lastletter %}
                    <h2 class="section-heading heading-white">Alla 
                    {{user.firstname}} annonser</h2>
                    {% else %}
                    <h2 class="section-heading heading-white">Alla 
                    {{user.firstname}}s annonser</h2>
                    {% endif %}
                 </div>
            </div>

		</div>
    </section>
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            {% for ad in ads %}
                {% if ad.active %}

              <div class="col-md-4 col-sm-12 portfolio-item">
                <a href="/ads/?id={{ad.id}}" class="portfolio-link normal-size" data-toggle="modal">

                  <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                      <i class="fa fa-plus fa-3x"></i>
                    </div>
                  </div>
                    <img src="{{ad.image}}" class="img-responsive" alt="">
                </a>
                  <div class="portfolio-caption-alt">
                    <h4><a href="/ads/?id={{ad.id}}">{{ad.title}}</a></h4>
                    <p>Publicerad: {{ad.dateCreated}}</p>
                    <p>Bäst före: {{ad.dateExpire}}</p>
                              
                  </div>
                  
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    
    